*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilory;
    color: #fff;

}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#nav{
    height: 140px;
    width: 100%;
    padding: 0 50px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-part2{
  display: flex;
  /* background: blue; */
  width: 65% ;
  justify-content: space-between;
  align-items: center;
}

#nav h1{
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

#nav>i{
    font-size: 20px;
    margin-right: 5px;
}

#nav h5{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    align-items: center;
}


#nav img{
    height: 50px;
}

#nav line{
   width: 80px;
   height: 2px;
   background-color: red;
}

content{
    height:calc(100% - 140px);
    width: 100%;
   background-color: aquamarine;

}